.label {
  &--primary {
    position: relative;
    background-color: $color-primary;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    &::before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: none;
      border-top: 0.6rem solid $color-primary;
      border-right: 0.6rem solid transparent;
      border-left: 0.6rem solid transparent;
      top: 100%;
      left: 8px;
    }
  }
  &--secondary {
    display: table;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    &::before {
      content: ' ';
      position: absolute;
      width: 40%;
      height: 5px;
      border-radius: 100px;
      background-color: $color-secondary;
      bottom: 0;
      left: 0;
      transition: 0.3s;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
