.toast {
  padding: 2rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: lighten($color-tritiary, 10%);
  color: darken($color-tritiary, 20%);
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;

  &__message {
  }
}
