  $color-bg: #e6e6e6;
  $color-text-primary: #333;
  $color-text-secondary: #747474;
  $color-footer-bg: rgba(0, 0, 0, 0.1);
  $color-primary: #1b46a1;
  $color-secondary: #26a69a;
  $color-tritiary: #e53935;
  $color-success: #1cb12a;
  $color-warning: #ff9800;
  $color-loader-bg: #162534;
  $color-loader-border: #09f;
  $loader-border-width: 6px;

  $input-height: 4rem;